POSTGRES_PASSWORD=password
PORT=3009
DATABASE_URL=postgresql://postgres:password@localhost:5432/db_name
APP_NAME=Altstack
BETTER_AUTH_URL=http://localhost:3009
BETTER_AUTH_SECRET=your-better-auth-secret
CORS_ORIGINS=http://localhost:3010,http://localhost:3011,http://<internal-ip>:3010,https://dokploy.example.com
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GITHUB_TOKEN=your-github-token

VITE_APP_NAME=Altstack
VITE_APP_URL=http://localhost:3010
VITE_DASHBOARD_URL=http://localhost:3011
VITE_SERVER_URL=http://localhost:3009
