NODE_ENV=development
DATABASE_URL=postgresql://postgres:password@localhost:5432/db_name
APP_NAME=altstack
BETTER_AUTH_URL=http://localhost:3010
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3010,http://<internal-ip>:3010,https://dokploy.example.com

VITE_APP_NAME=altstack
VITE_APP_URL=http://localhost:3010
