POSTGRES_PASSWORD=password
NODE_ENV=development
PORT=3009
DATABASE_URL=postgresql://postgres:password@localhost:5432/db_name
APP_NAME=Altstack
BETTER_AUTH_URL=http://localhost:3010
BETTER_AUTH_SECRET=your-better-auth-secret
CORS_ORIGINS=http://localhost:3010,http://localhost:3011,http://<internal-ip>:3010,https://dokploy.example.com

VITE_APP_NAME=Altstack
VITE_APP_URL=http://localhost:3010
VITE_SERVER_URL=http://localhost:3009
